#ifndef __@(CLASSNAME)_CPP
#define __@(CLASSNAME)_CPP

#include <iostream>

#include "libecs/libecs.hpp"
#include "libecs/System.hpp"
#include "libecs/Substance.hpp"
#include "libecs/Util.hpp"
#include "libecs/PropertySlotMaker.hpp"

#include "@(BASECLASS).hpp"

namespace libecs
{

  class @(CLASSNAME)
    :  
    public @(BASECLASS)
  {
  
  public:

    @(CLASSNAME)();
    ~@(CLASSNAME)();

@{propertymethods()}
    
    virtual void react();
    virtual void initialize();
    
    static ReactorPtr createInstance() 
    { 
      return new @(CLASSNAME);
    }
   
    StringLiteral getClassName() const { return "@(CLASSNAME)"; }


  protected:
    
    void makeSlots();

@{propertyvariabledecls()}
@{reactantpropertyslotvariabledecls()}

  };

}

using namespace libecs;

extern "C"
{
  Reactor::AllocatorFuncPtr CreateObject =
  &@(CLASSNAME)::createInstance;
}  

@(CLASSNAME)::@(CLASSNAME)()
{
  makeSlots();
@{propertyvariableinit()}
}

@(CLASSNAME)::~@(CLASSNAME)()
{
}

void @(CLASSNAME)::makeSlots()
{
@{createpropertyslots()}
}


void @(CLASSNAME)::initialize()
{
  @(BASECLASS)::initialize();

@{getpropertyslotofreactant()}

}

@{methodDefs('react')}
#endif
